/*Colors

darker platinium #b88746; c48f4b #c19552
lighter f1e296 #ffffae

*/
body {
	margin:0;
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	text-transform: translate ease-in-out;
}
a:hover{
	text-decoration: none;
	color: #b88746
}


.logo{
	margin-left: 7%;
}
.above-header{
		background-color: #000;
}
.header-right{
	margin-top: 20px;
	display: inline-block;
}
.search a{
	color: #fff;
}
.header-right li{
	display: inline-block;
}
.header-right a{
	color: #ddd;
	text-align: right;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
	margin-right: 0px;
}

.header-right a:hover{
	color: #b88746;

	
}
/**Navbar**/

nav ul {
	margin-top:18px;
}

nav ul li{
	display: inline-block;
	margin-right: 30px;
	list-style: none;
}

nav a {
	position: relative;
	display: inline-block;
	margin: -12px 25px 12px 25px;
	outline: none;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.navbar-effect a::before,
.navbar-effect a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.navbar-effect a::after {
	width: 60px;
	height: 60px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.navbar-effect a:hover::before,
.navbar-effect a:hover::after,
.navbar-effect a:focus::before,
.navbar-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

 ul li:nth-child(4){
	margin-right: 0px;
}
/* Read more: ibrahimjabbari.com
/*END OF HEADER*/
/*
BUTTON EFFECTS*/
button{
height: 40px;
width: 200px; 
font-size: 16px;
background:  transparent;
border: 1px solid #121212;
border-radius: 3px;
padding: 10px 30px;
}
.btn-effect {
  color: #121212;
}
.load-more{
color: black;

}
.btn-effect:before, .btn-effect:after,
.btn-effect span:before,
.btn-effect span:after {
  content: '';
  position: absolute;
  top: -1;
  left: 0;
  width: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}

.btn-effect {
  transition-delay: 0.4s;
}
.btn-effect:hover {
	background: #fff;
  color: #b88746;
  border:1px solid #ddd;
  transition: all .3s ease-in-out;
}

/*end of btn effect*/

/*products*/
	h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}

.homePage{
	top: 0;
	width: 100%;
	min-height: 500px;

}
.text-homepage{
	text-align: left;
	padding: 50px 0;

}
.text-homepage h5{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 40px;
	}
.text-homepage h1{
	font-size: 48px;
	margin-bottom: 5px;
	padding-bottom: 25px;
}
.text-homepage p{
	font-weight: 450;

}



.slider{
	width: 100%;
	height: 517px;
	background-color: #c19552;
}

/*
NEW ARRIVIALS
*/
.header-h2 h2{
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
	color: #b88746;
}
.products{
	margin:70px 0px 50px 0px;
	
}
.star {
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.title-of-item{
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
}

.price{
	color: #c19552;
	text-align: center;
}

.old-price{
	color: #8c8b8b;
	margin-left: 60%;
	margin-top: -35px;
	font-size: 12px;
}

.product{
	margin-right: -90px;
	text-align: center;
	transition: transform .2s;
}

.product:hover{
	transform: scale(1.2);
}
.first-product{
	margin-left: 10%;
}
.products-section button{
	margin-top: 0px;
	margin-left: -50%;
	color: #000;

}


/* 
END NEW ARRIVIALS
*/
.mens-slider{
	position: top left;
	width: 100%;
	background-color: #000;
	margin-top: 100px;
	background-repeat: no-repeat;
	background-attachment: fixed;


}


#box3{
	height: 100vh;
	width: 100%;
	background-image: url("../img/armani2.jpg");
	background-size: cover;
	background-attachment: fixed;
}












/* 
FOOTER
*/
footer{
	background-color: rgba(0, 0, 0, 0.4);

}

footer{

	margin:0;
	width: 100%;
	height: 65vh;
	background-image: url("../img/accesories.jpg");
	background-size: cover;
	color: #121212;
	text-align: center;

}

footer h1{
	margin-top: 100px;
	font-size: 35px;

}
footer  p {
	margin-top: 20px;
	font-size: 16px;
}

.sign-up-btn{
	margin-top: 30px;
	margin-left: 100px;
	margin-bottom: 80px;
	background: #fff;
	border: 1px solid #ddd;
	height: 60px;
	width: 60%;
	color: #fff;
}
.copyright p{
	text-align: center;
	color: #fff;
	background: #b88746;
	margin:0;
	margin-top: 20px;
	height: 50px;
	padding-bottom: 0;
	padding-top: 20px;
}
form{
	margin-right: 0;
}
footer nav ul{
	color: transparent;
	

}
.email-submit{
	height: 60px;
	width: 60px;
	background:  #b88746;
	margin-top: 30px;
	margin-left: 3px;
}
.email-submit p{
	
	text-align: center;
	margin-top: 18px;	
	color: white;
	z-index: 999;
	font-weight: 600;
	font-size: 30px
}











/*
PRODUCT.html
*/

.product-img{
	margin-top: 20px;
	width: 50%;
	height: 80vh;
}
.product-img-next{
	margin-top: 15px;
	margin-left: 55px;
	margin-right: -90px;
}
.product-img-next a img:hover{
background: rgba(255,255,255);
}
.product-desc{
	margin-top: 20px;

}
.product-desc span{
color: #b88746;
font-size: 20px;
margin-right: 30px;
}

.product-desc h3{
	text-transform:uppercase;
	font-size: 20px;
	margin-top: 20px;
	color: #121212;
	margin-bottom: 5px;
	text-align: left;
}
.product-desc .star{
	margin-left: 0;
}
.product-desc .review{
	display: inline-block;
	margin-left: 20px;
	text-align: left;
	}
.product-desc p{
	margin-right: 30px;
}

select{
	width: 200px;
	height: 30px;
	margin-left: 0;
    width: 50%;
	
	}

.product-color{
	margin-top: 20px;
	margin-bottom: 20px;
}

h4{
text-transform: uppercase;
font-size: 18px;
margin-top: 10px;
}

.color1, .color2, .color3, .color4, .color5, .color6{
    width: 15px;
    height: 25px;
    background: #b88746;
    margin-right: -25px;
    margin-left: 29px;
    margin-top: 6px;} 
.color1:hover, .color2:hover, .color3:hover, .color4:hover, .color5:hover, .color6:hover{
	border-radius: 50%;
	transition-duration: 0.3s; 
} 
.color2{
background: lightgreen;
}
.color3{
background: orange;
}
.color4{
background: lightblue;
}
.color5{
background: lightgrey;
}
.color6{
background: black;
}
.black-btn{
	border: 0px;
	width: 50%;
	height: 50px;
	background: #121212;
	color: #fff;
	margin-top: 30px;
}

.product-details{
margin-top: 30px;
}
 .social-icons p{
display: inline-block;
font-size: 24px;
}

 .social-icons a{
 	color: #121212;
}

 .social-icons  .fa-facebook:hover{
 	font-size: 25px;
 	color: blue;
}

 .social-icons  .fa-instagram:hover{
 	font-size: 25px;
 	color: #b88742;
}
 .social-icons  .fa-twitter:hover{
 	font-size: 25px;
 	color: blue;
}
 .social-icons  .fa-vk:hover{
 	font-size: 25px;
 	color: blue;
}

.products .product{
	margin: auto;
}

.img-big{
	margin: auto;
	margin-top: 100px;
}
.size p{
	margin-top: -50px;
	text-align:center;
	font-weight: 500;
	font-size: 14px;
	font-family: sans-serif;

}


/*Signup*/

.input-text{
border: 1px solid #b88746;
}




/*CHEKOUT*/
.border-top {
 border-top: 1px solid #e5e5e5;
  }
.border-bottom {
 border-bottom: 1px solid #e5e5e5; 
}
.border-top-gray { 
border-top-color: #b88746;
 }
.box-shadow {
 box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

.lh-condensed {
 line-height: 1.25;
  }
.bg-light{
	margin-top: -16px;
}
.bg-light h2{
	margin-top: -15px;
	margin-bottom:  -15px;

}
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: black;
    border: none;
    border-radius: 0%;
}
.btn-primary:hover{
	background-color: #b88742;
}
.btn-primary span{
	margin-left: 5px;
	color: white;
}
.form-control{
	border-radius: 0%;
	border-color: #ddd;


}
.form-control:focus {
  border-color: #b88742;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.1);
}

.custom-control-label:before{
  background-color:#ccc;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#b88742;
}





/* TABLE*/
table{
	margin-top: 30px;
	margin-bottom: 100px;
}

/*END  TABLE*/











/*

products category
*/
.left-sort{
	text-align: right;
}
.cart-items{
	border-radius: 0%;
	background: #fefefe;

}
.masked{
	-webkit-clip-path: inset(0 7% 0 7%);
clip-path: inset(0 7% 0 7%);
}
.card-product{
	margin-bottom: 30px;
}
.card-product a{
color: #b88746;
}

.cart-btn{
	margin:60px auto;
}





/*SIDEBAR*/
.sidebar a{
	color: #121212;
	margin-left: -6%;
	font-size: 16px;
	margin-top: 100px;
}

.pagination .page-item a{
	color: #121212;
}
.pagination .active .page-link{
background:#b88746;
border-color: #b88746;
}













